# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: S3Upload@1
  inputs:
    awsCredentials: 'ConnectToAWS'
    regionName: 'us-east-1'
    bucketName: 'my-bucket-709-awsdevops'
    sourceFolder: 'cf'
    globExpressions: '**'
    targetFolder: 'AWSCommunityBuilders'
    createBucket: true

- task: CloudFormationCreateOrUpdateStack@1
  inputs:
    awsCredentials: 'ConnectToAWS'
    regionName: 'us-east-1'
    stackName: 'AzureDevOpsDemo'
    templateSource: 's3'
    s3BucketName: 'my-bucket-709-awsdevops'
    s3ObjectKey: 'AWSCommunityBuilders/it_dodhmcdj_02_enus_06_AWS_WebSrv.yaml'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
